<script src="home.js"></script>

<div class="page-header">
  <h3> DJS </h3>
</div>

<p>SONG LIST</p>

<form action="/vote" method="post">
  <div class="list-group">
  <button type="input" name="song"class="list-group-item" value="upvote">Upvote</button>
  </div>
</form>
