<script src="/public/home.js"></script>
<center>
<div class="page-header">
  <h3> DJS </h3>
</div>

<p>SONG LIST</p>

<div id="list-div">
</div>

<form action="https://drive.google.com/file/d/0BxlDm4Y6kKmcd0RpTF8wWmt5T1U/view?usp=sharing">
 <input type="submit" value="Help" />
</form>
</center>
