<script src="/public/home.js"></script>

<div class="page-header">
  <h3> DJS </h3>
</div>

<p>SONG LIST</p>

<div id="list-div">
<div id="song-div">
  <button type="button" class="list-div-item list-div-item-action">Dapibus ac facilisis in</button>
  <button type="button" class="list-group-item list-group-item-action">Morbi leo risus</button>
  <button type="button" class="list-group-item list-group-item-action">Porta ac consectetur ac</button>
  <button type="button" class="list-group-item list-group-item-action">Vestibulum at eros</button>
</div>

</div>


