@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Serif:400,700);

body {
    text-align:center;
    background: url(bg.png) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Droid Sans', sans-serif;
}

.vote-count {
    width: 60px;
    height: 60px;
    font-size: 15px;
    margin: 0 auto;
    text-align: center;
}

.artwork {
    padding: 5px;
    height: 200px;
    width: 200px;
    text-align: center;
}

.vote-button {
    width: 200px;
}

.list-item-div {
    width: 300px;
    text-align: center;
    border: 1px black;
    border-style: solid;
    margin-bottom: 50px;
}

.button {
    width: 200px;
    text-align: center;
}