<!DOCTYPE html>
<html>
<head>
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="../../public/js.cookie.js"></script>
	<meta charset="utf-8">
	<title>DJS</title>
</head>
<body>
	{{{body}}}
</body>
</html>
